<html>
<body>
    <h2>Password Reset for {{ site_name }}</h2>

    <p>Hello from {{ site_name }}!</p>

    <p>You're receiving this e-mail because you or someone else has requested a password reset for your user account.
        It can be safely ignored if you did not request a password reset.</p>

    <p>Click the link below to reset your password:</p>

    <p><a href="{{ protocol }}://{{ domain }}{% url 'account_reset_password_from_key' uidb36=uidb36 key=key %}">Reset your password</a></p>

    <p>In case you forgot, your username is {{ user.username }}.</p>

    <p>Thank you for using {{ site_name }}!</p>
</body>
</html>
